<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.company_name.kram">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
	
		<activity
			android:label="@string/doctors_update_patient_list_activity_title"
			android:name=".activity.DoctorsUpdatePatientListActivity"
			android:theme="@style/DoctorsUpdatePatientListActivityTheme"/>
	
		<activity
			android:label="@string/doctors_update_status_activity_title"
			android:name=".activity.DoctorsUpdateStatusActivity"
			android:theme="@style/DoctorsUpdateStatusActivityTheme"/>
	
		<activity
			android:label="@string/patient_profile_activity_title"
			android:name=".activity.PatientProfileActivity"
			android:theme="@style/PatientProfileActivityTheme"/>
	
		<activity
			android:label="@string/doctor_sign_up_activity_title"
			android:name=".activity.DoctorSignUpActivity"
			android:theme="@style/DoctorSignUpActivityTheme"/>
	
		<activity
			android:label="@string/home_activity_title"
			android:name=".activity.HomeActivity"
			android:theme="@style/HomeActivityTheme">
		
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER"/>
			
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
	
		<activity
			android:label="@string/patient_sign_up_activity_title"
			android:name=".activity.PatientSignUpActivity"
			android:theme="@style/PatientSignUpActivityTheme"/>
	
		<activity
			android:label="@string/nurse_input_patient_activity_title"
			android:name=".activity.NurseInputPatientActivity"
			android:theme="@style/NurseInputPatientActivityTheme"/>
	
		<activity
			android:label="@string/doctor_profile_activity_title"
			android:name=".activity.DoctorProfileActivity"
			android:theme="@style/DoctorProfileActivityTheme"/>
	
		<activity
			android:label="@string/nurse_doctor_profile_activity_title"
			android:name=".activity.NurseDoctorProfileActivity"
			android:theme="@style/NurseDoctorProfileActivityTheme"/>
	
		<activity
			android:label="@string/nurse_on_call_doctors_activity_title"
			android:name=".activity.NurseOnCallDoctorsActivity"
			android:theme="@style/NurseOnCallDoctorsActivityTheme"/>
	
		<activity
			android:label="@string/patient_info_page_activity_title"
			android:name=".activity.PatientInfoPageActivity"
			android:theme="@style/PatientInfoPageActivityTheme"/>
	
		<activity
			android:label="@string/nurse_editing_patient_list_activity_title"
			android:name=".activity.NurseEditingPatientListActivity"
			android:theme="@style/NurseEditingPatientListActivityTheme"/>
	
		<activity
			android:label="@string/nurse_sign_up_activity_title"
			android:name=".activity.NurseSignUpActivity"
			android:theme="@style/NurseSignUpActivityTheme"/>
	</application>
</manifest>